<div class="welcome-container">
  <h1>Welcome to Cosmos App</h1>
  <ul>
    <li><%= link_to 'Stars', stars_path %></li>
    <li><%= link_to 'Planets', planets_path %></li>
    <li><%= link_to 'Sattelites', sattelites_path %></li>
  </ul>
</div>
